---
import Greeting from '../components/Greetings'
import BaseLayout from '../layouts/BaseLayout.astro'
const pageTitle = 'Home Page'
---

<BaseLayout pageTitle={pageTitle}>
	<h3>My awesome blog subtitle</h3>
	<h4>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit tempora in laborum,
		aspernatur ab earum rem vel obcaecati perspiciatis veritatis! Expedita sequi
		Perspiciatis nam deserunt, illo delectus enim sapiente sed. Voluptatibus,
		veritatis recusandae vitae doloremque nostrum hic quaerat distinctio at debitis
		hic maxime est assumenda at illo a fuga accusantium similique laudantium voluptate
		maiores hic labore facere dignissimos! Nesciunt, et laboriosam? Dolorum deleniti
		nisi ipsam tempore asperiores dolores recusandae dicta molestiae!
	</h4>
	<Greeting
		client:load
		messages={['Привет', 'Здравствуйте', 'Приветствую', 'Эй там']}
	/>
</BaseLayout>
